/*
	styles.css
	----------

	Global styles for the application windows.
*/

h2 {
	color: #00ABAE;
}

/* Disable text selection app wide */
body,
* {
	user-select: none;
}

/* reusable gray box */
.grayBox {

	background-color: #f0f0f0;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
